.blog-images {
  height: 120px;
  width: 200px;
  margin-bottom: 20px;
}

.read-more-links {
  color: #e12f47;
  text-decoration: none;
  cursor: pointer;
}
.read-more-links:hover {
  color: red;
  font-weight: 500;
}
.domain-name {
  font-size: 14px;
  color: rgb(42, 130, 255);
  font-weight: bold;
}
